@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Custom scrollbar for sidebar with a minimal and modern design */
.sidebar {
  overflow-y: scroll;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #202020 transparent; /* Scrollbar thumb and track colors */
}

.sidebar::-webkit-scrollbar {
  width: 6px; /* Narrower scrollbar width for a sleek look */
}

.sidebar::-webkit-scrollbar-track {
  background: transparent; /* Transparent background for minimalism */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #888888; /* Thumb color */
  border-radius: 50px; /* Rounded thumb for a smooth look */
  border: 2px solid transparent; /* Adds space between thumb and track */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #555555; /* Darker thumb on hover */
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 
.ql-toolbar {
  @apply bg-[#4C7E95] p-3 rounded-md shadow-md text-white;}  */


